.wrap{
  background-color: $bg-color;
  color: $text-color;
  font-family: $main-font;
}
.container{
  padding: 2%;
}
.p-relative{
  position: relative;
}
.m-none{
  @include md{
    display: none !important;
  }
}


.menu{
  display: none;
  padding: 10px;
  @include md{
    display: block;
  }
}

.tx-primary{
  color:$primary !important;
}

.tx-light{
  color:#fff !important;
}

.dark-hover{
  position: relative; 
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    transition: all .4s;
  }
  &:hover{
    &:after{
      opacity: 1;
    }
  }
}

.breadcrumb{
  display: flex;
  align-items: center;
  font-size: $fs-xl;
  margin-bottom: 50px;
  a{
    &:hover{
      color:$secondary;
    }
  }
  .fa-chevron-right{
    margin: 0 10px;
    color:$secondary;
  }
}

.around-gradient{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 70%;
    left: 0;
    right: 0;
    background-image:linear-gradient(0deg,rgba($bg-color, 1), rgba(255, 255, 255, 0));
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:60%;
    height: 100%;
    background-image: 
    linear-gradient(90deg,rgba($bg-color, 1), rgba(255, 255, 255, 0));
    @include sm{
      background-image: 
      linear-gradient(180deg,rgba($bg-color, 1), rgba(255, 255, 255, 0));
      width:100%;
      height: 300px;
    }
  }
  
}

.above-gradient{ 
  z-index: $z-aboveImage;
}

.blur{
  opacity: .2;
}

.d-none{
  display: none;
}

// header
header{
  position: absolute;
  z-index: $z-nav;
  width: 100%;
}
.preheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size: $fs-5xl;
  font-weight:900;
  font-family: $second-font;
  line-height: 1.4;
  .fas{
    color:$primary;
    margin-right: 5px;
  }
  @include lg{
    font-size: $fs-4xl;
  }
  @include md{
    font-size: $fs-2xl;
  }
}
.searchbar{
  @include input
  background-color: rgba(225,225,225,.4);
  transition:all .3s;
  color:#fff;
  &::placeholder{
    color: #fff;
  }
  &:hover,&:focus{
    background-color: #fff;
    color: #000;
    &::placeholder{
      color: #000;
    }
    +.fa-search{
      color: #000;
    }
  }
  
}
.fa-search{
  position: absolute;
  top: 10px;
  right: 13px;
}


.loginBtn{
  background-color: rgba(255,255,255,0);
  color: #fff;
  border: 2px #fff solid;
  padding: 7px 10px;
  border-radius: 500px;
  outline: none;
  transition: all 0.3s;
  box-shadow: $bs-l;
  margin-left: 10px;
  text-align: center;

  .google {
    transition: all 0.5s;
    margin-right: 5px;
    transform: translate(70%, 0);
    opacity: 0;
  }

  &:hover {
    color: #000;
    background-color: rgba(255,255,255,1);
    transform: scale(1.1);
    .google {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .mobile{
    display: none;
    @include md{
      display: block;
      opacity: 1;
      border-radius: 50%;
      transform: translate(0, 0);
      margin: 0;
    }
  }

  &.active{
    color: #000;
    background-color: rgba(255,255,255,1);
  }
}

.loginGroup{
  display: flex;
  align-items: center;
}

header .navbar{
  display: flex;
  margin-top: 10px;
  a{
    display: block;
    padding: 17px 0px;
    margin: 0 40px 0 0;
    border-bottom:solid 4px rgba(0,0,0,0);
    &:hover{
      border-bottom-color: $secondary;
      color:$secondary;
    }
  }

  @include sm{
    justify-content: space-between;
    a{
      margin: 0;
    }
  }
}

//footer
.concept{
  padding:30px 40px;
  background-color: $secondary;
  h3{
    font-size: $fs-2xl;
    font-family: $second-font;
    margin-bottom: 10px;
  }
  p{
    line-height: 1.5;
  }
}

.footer-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  
  .footer-logo{
    font-size: $fs-xl;
    margin-right: 10px;
    font-family: $second-font;
  }
  .fas{
    margin-right: 10px;
  }
  .navbar{
    display: flex;
    align-items: center;
    a{
      display: block;
      margin: 0 10px;
      &:hover{
        color: $secondary;
      }

    }
  }
  .copyright-statement{
    color: $secondary;
    margin-left: 10px;
    &:hover{
      color: #fff;
    }
    @include lg{
      margin-top: 10px;
    }
  }

  @include lg{
    display: block;
    text-align: center;
    .navbar{
      margin: 15px 0;
      justify-content: center;
    }
    .footer-logo{
      margin-right: 0px;
      
    }
  }
  @include sm{
    .navbar{
      a{
        margin: 10px 5px;
      }
    }
  }
}

