.filmShow{
  padding: 180px 100px;
  position: relative;
  @include md{
    padding: 180px 30px;
  }
}

.bg-img{
  position: absolute;
  width: 100%;
  height: 800px;
  @include md{
    height: 500px;
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.filmShow-main{
  max-width: 900px;
  @include md{
    max-width: 100%;
  }
}

.filmShow-head{
  display: flex;
  @include sm{
    display: block;
  }

  img{
    max-width: 200px;
    border-radius: 3px;
    box-shadow: $bs-l;
  }
  
  .filmShow-title{
    margin-left: 30px;
    @include sm{
      margin:20px 0;
    }

    h1{
      font-size: $fs-4xl;
      margin-bottom: 10px;
    }
    p{
      line-height: 2;
    }
    
  }
}

.filmShow-body{
  margin-top: 30px;
  line-height: 1.5;
  padding: 50px 0;
  p{
    margin-bottom: 30px;
    font-size: $fs-xl;
  }
}

.metaDetail{
  margin: 30px 0;
  h4{
    color: $secondary;
    font-size: $fs-2xl;
    margin-bottom: 10px;
  }
}

.shareBtns{
  margin-top: 30px;
}

.playBtn{
  display: inline-block;
  margin-top: 30px;
  border:solid #fff 1px;
  padding: 20px;
  border-radius: 500px;
  transition: all .3s;
  &:hover{
    background-color: #fff;
    color:$bg-color;
  }

  .fa-play{
    margin-right: 10px;
  }
}