.filmRanking{
  padding-top: 163px;
  position: relative;
  h1{
    margin: 50px auto;
    font-size: $fs-6xl;
    font-weight: 600;
    font-family: $second-font;
    max-width: 1000px;
  }
}

.ranking{
  margin: 30px auto;
  max-width: 1000px;
}
.rankingCard{
  background-color: #fff;
  color:#000;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  margin-bottom: 50px;

  .rankingCard-img{
    display: block;
    margin-right: 20px;
    max-width:150px;
    img{
      border-radius: 5px;
    }
    @include sm{
      display: none;
    }
  }

  .rankingCard-title{
    display: block;
    font-size: $fs-3xl;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .ranking-subtitle{
    margin-bottom: 20px;
    color: $secondary;
  }
  .ranking-description{
    line-height: 2;
    @include sm{
      display: none;
    }
  }

  .rankingCard-body{
    flex-grow: 1;
  }

}